@import '../variables';

#contact{
    color: $fondLiens;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    #form{
        text-align: center;
        button{
            width: 25%;
        }
    }
    img{
        width: 30%;
    }
}

@media screen and (max-width: 500px){
    #contact{
        .responsive{
            margin-top: 5%;
            text-align: center;
        }
    }
}