@import '../variables';

#contact{
    @include centreContainer();
    color: $fondLiens;
    padding-left: 5%;
    padding-right: 5%;
    #form{
        text-align: center;
        button{
            width: 30%;
        }
    }
    img{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    #contact{
        img{
            width: 100%;
        }
    }
}