//Navigation
@mixin centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centreContainer {
    @include centre();
    width: 100%;
    height: 100%;
}

$fondLiens: #21AEA3;
$fondNav: #148C6C;
$fondApp: #12242A;

@keyframes anim{
    from{
        opacity: 0;
        transform: translateX(10%);
        transform: translateY(10%);
    } to {
        opacity: 1;
        transform: translate(0px);
    }
}