@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#navigation {
  background-color: #148C6C;
  height: 100%;
  min-width: 178px;
}
#navigation ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#navigation ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  min-width: 90px;
  background-color: white;
  box-shadow: -5px 5px #21AEA3;
}
#navigation ul li a:hover {
  background-color: #21AEA3;
  box-shadow: 0px 0px #21AEA3;
  color: white;
  transform: scale(1.2);
  transition-duration: 600ms;
}

@media screen and (max-width: 575px) {
  #navigation {
    height: 18vh;
    background-color: #12242A;
    margin-top: 5%;
    margin-left: -15%;
  }
  #navigation ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  #navigation ul li a {
    height: 75%;
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: end;
}
#accueil span {
  color: #21AEA3;
}
#accueil div {
  animation: entrer 1s ease-in-out;
}

@keyframes entrer {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}
@media screen and (max-width: 600px) {
  #accueil .presentation {
    text-align: center;
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#alternance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px 5%;
}
#alternance p {
  margin: 5% 5% 5% 0px;
}
#alternance img {
  width: 100%;
}
#alternance .anim {
  animation: anim 2s ease-in-out;
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#projets {
  color: whitesmoke;
}
#projets h1 {
  color: #21AEA3;
}
#projets .anim {
  animation: anim 2s ease-in-out;
}

@media screen and (min-width: 500px) {
  #projets {
    padding-right: 5%;
  }
}
@media screen and (max-width: 800px) {
  #projets {
    margin-left: 8%;
  }
}
@media screen and (max-width: 575px) {
  #projets {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #21AEA3;
  padding-left: 5%;
  padding-right: 5%;
}
#contact #form {
  text-align: center;
}
#contact #form button {
  width: 30%;
}
#contact img {
  width: 40%;
}

@media screen and (max-width: 600px) {
  #contact img {
    width: 100%;
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
#skills .wrap {
  margin-top: 200px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
#skills .wrap .cube {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  animation: loop 10s linear infinite;
}
#skills .wrap .cube img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  background-color: #12242A;
}
#skills .wrap .cube img:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px);
}
#skills .wrap .cube img:nth-child(2) {
  transform: rotateY(90deg) translateZ(100px);
}
#skills .wrap .cube img:nth-child(3) {
  transform: rotateY(180deg) translateZ(100px);
}
#skills .wrap .cube img:nth-child(4) {
  transform: rotateY(-90deg) translateZ(100px);
}
#skills .wrap .cube img:nth-child(5) {
  transform: rotateX(90deg) translateZ(100px);
}
#skills .wrap .cube img:nth-child(6) {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes loop {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(360deg) rotate(90deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotate(360deg);
  }
}
@media screen and (max-width: 575px) {
  #skills .responsiveCanva {
    margin-top: -15%;
  }
  #skills .wrap {
    margin-top: 50px;
  }
}
@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(10%);
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
* {
  font-family: "Arial Rounded MT";
}

#app {
  background-color: #12242A;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  #app {
    overflow-y: visible;
  }
}

/*# sourceMappingURL=App.css.map */
