@import './Navigation/Navigation.scss';
@import './Accueil/Accueil.scss';
@import './Alternance/Alternance.scss';
@import './Projets/Projets.scss';
@import './Contact/Contact.scss';
@import './Skills//Skills.scss';
@import './variables';

* {
    font-family: "Arial Rounded MT";
}

#app{
    background-color: $fondApp;
    overflow: hidden;
}

@media screen and (max-width: 700px){
    #app{
        overflow-y: visible;
    }
}