@import '../variables';

#accueil{
    @include centreContainer();
    color: white;
    text-align: end;
    span{
        color: $fondLiens;
    }
    div{
        animation: entrer 1s ease-in-out;
    }
}

@keyframes entrer{
    from{
        opacity: 0;
        transform: translateX(10%);
        transform: translateY(10%);
    } to {
        opacity: 1;
        transform: translate(0%);
    }
}

@media screen and (max-width: 600px){
    #accueil{
        .presentation{
            text-align: center;
        }
    }
}